[mysqld]
innodb_buffer_pool_size=5M #67108864
tmp_table_size=4M #8388608
key_buffer_size=2M

max_connections         = 10 # Limit connections
query_cache_size        = 0 # try 4m if not enough 
query_cache_limit       = 512K

query_cache_type=0
read_buffer_size=8K
sort_buffer_size=32K
# baja mucho el consumo de memoria desactivar 'performance_schema'
performance_schema = off

# Setting                     Default      Minimum
# innodb_buffer_pool_size     128M         5M
# innodb_log_buffer_size      1M           256K
# query_cache_size            1M           0
# max_connections             151          1 (although 10 might be more reasonable)
# key_buffer_size             8388608      8
# thread_cache_size           (autosized)  0
# host_cache_size             (autosized)  0
# innodb_ft_cache_size        8000000      1600000
# innodb_ft_total_cache_size  640000000    32000000
# thread_stack                262144       131072
# sort_buffer_size            262144       32K
# read_buffer_size            131072       8200
# read_rnd_buffer_size        262144       8200
# max_heap_table_size         16777216     16K
# tmp_table_size              16777216     1K
# bulk_insert_buffer_size     8388608      0
# join_buffer_size            262144       128
# net_buffer_length           16384        1K
# innodb_sort_buffer_size     1M           64K
# binlog_cache_size           32K          4K
# binlog_stmt_cache_size      32K          4K